body {
    margin: 0;
    /* overflow-x: hidden; */
    font-family: 'Roboto', sans-serif;
    overflow-y: overlay;

}

.page-container {
    /* width: 100vw; */
}

.page-content-wrapper {
    margin-left: 420px;
}

.page-content {
    padding-left: 50px;
    padding-right: 130px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.page-footer {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 2.5em;
    text-transform: uppercase;
}

.off-white {
    background-color: #e3e3e3;
}
