#projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-gap: 30px;
}

.project-wrapper {
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    position: relative;

    height: 300px;

    display: grid;
    grid-template-rows: 15px [action-s] 40px [action-e] 1fr [title-s] 40px [title-e divider-s] 3px [divider-e desc-s] 30px [desc-e] 5px [skills-s] 30px [skills-e] 10px [e];
    -webkit-box-shadow: 4px 4px 13px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 13px 1px rgba(0,0,0,0.75);
    box-shadow: 4px 4px 13px 1px rgba(0,0,0,0.75);
}

.project-actions {
    grid-row: action-s/action-e;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 50px;
    z-index: 1;
}

.project-bg {
    background-color: rgba(0,0,0,.4);
}

.project-action {
    font-family: 'Oswald', sans-serif;
    color: white;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    border-bottom: 2px solid transparent;
    margin-left: 35px;
    margin-right: 5px;
    padding-left: 4px;
    padding-right: 4px;
    transition: .2s all ease-in-out;
}

.project-action:hover {
    border-bottom: 2px solid white;
}

.project-action i {
    color: white;
    font-size: 1.5em;
    padding-right: 5px;
}

.project-title, .project-desc, .project-skills-wrapper {
    padding-left: 30px;
    z-index: 1;
}

.project-title {
    grid-row: title-s/title-e;
    font-size: 2em;
    font-weight: 600;
}

.project-divider {
    grid-row: divider-s/divider-e;
    height: 3px;
    width: 100%;
    background-color: #ccc;
}

.project-shader {
    height: 100%;
    width: 100%;
    border-radius: inherit;
    grid-row: 1/-1;
    position: absolute;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 65%, rgba(0,0,0,0.1561799719887955) 80%, rgba(0,0,0,0.4959558823529411) 100%);
    /* z-index: ; */
}

.project-desc {
    grid-row: desc-s/desc-e;
    display: flex;
    align-items: center;
    color: white;
}

.project-skills-wrapper {
    grid-row: skills-s/skills-e;
    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
    grid-gap: 10px;
}

.project-skill {
    font-family: 'Share Tech Mono', monospace;
    background: teal;
    height: 22px;
    width: 90px;
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

