/* #240b36, #c31432 */

.resume-card {
    width: 300px;
    border: 5px solid #240b36;
    border-radius: 10px;
    display: grid;
    grid-template-rows: [s s-header] 120px [e-header s-icon] 77px [e-icon s-title] 50px [e-title s-buttons] 1fr [e-buttons] 20px [e]
}

.resume-header {
    background-color: #c31432;
    grid-row: s-header/e-header;
    width: 100%;
}

.resume-icon {
    grid-row: s-icon/e-icon;
    display: flex;
    justify-content: center;
}

.resume-icon i {
    height: 96px;
    width: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #250b36;
    font-size: 6em;
    position: relative;
    z-index: 2;
    transform: translateY(-50%);
}

.resume-icon i:after {
    position: absolute;
    background: white;
    content: '';
    width: 150%;
    height: 150%;
    border-radius: 50%;
    z-index: -1;
}

.resume-title {
    grid-row: s-title/e-title;
    text-align: center;
}

.resume-btn-wrapper {
    grid-row: s-buttons/e-buttons;
}

.resume-btn {
    border: 3px solid black;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    margin: 10px;


    position: relative;
    overflow: hidden;
}

.resume-btn:after {
    position: absolute;
    transition: .3s;
    content: "";
    bottom: 0;
    width: 0;
    left: -10%;
    height: 120%;
    transform: skewX(15deg);
    background: #c31432;
    z-index: -1;
}

.resume-btn:hover:after {
    width: 120%;
    left: -10%;
}

.resume-btn:hover {
    color: white;
    z-index: 0;
}