
.side-bar {
    background: #c31432;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    
    -webkit-box-shadow: 1px 0px 19px 0px rgba(0,0,0,0.66);
-moz-box-shadow: 1px 0px 19px 0px rgba(0,0,0,0.66);
box-shadow: 1px 0px 19px 0px rgba(0,0,0,0.66);

    position: fixed;
    top: 0;
    left: 0;
    width: 500px;
    height: 100vh;
    display: grid;
    grid-template-rows: [s] 1fr [profile-s] 200px [profile-e] 20px [title-s] 100px [title-e links-s] 240px [links-e contacts-s] 100px [contacts-e] 1fr [e];
    justify-content: center;
    align-items: center;
    justify-items: center;
    z-index: 3;
}


.profile-text {
    text-transform: uppercase;
    width: 100%;
    justify-content: left;
    padding-left: 30px;
}

.profile-pic {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    grid-row: profile-s/profile-e;
}

.profile-title {
    grid-row: title-s/title-e;
    color: white;
    font-family: 'Oswald', sans-serif;
}


.profile-links {
    grid-row: links-s/links-e;
    display: grid;
    grid-template-rows: 1fr;
    grid-row-gap: 20px;
}

.profile-links a {
    text-decoration: none;
    font-family: 'Special Elite', cursive;
    color: white;
    font-size: 1.5em;
    margin-left: 15px;
}

.profile-contact {
    grid-row: contacts-s/contacts-e;
}

.profile-contact-icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    align-items: center;
    justify-items: center;
    margin-left: 30px;
}

.profile-contact-icons > .contact-link i {
    font-size: 2.5em;
    color: white;
    transition: .3s all ease-in-out;
}

.profile-contact-icons > .contact-link i:hover {
    color: blue;
    font-size: 2.9em;
}

